@using VehicleRentingSystem.Models.Car
@model IEnumerable<CarViewModel>

@{
    ViewBag.Title = "Vehicles for Renting";
}

<div class="text-center row">
    @foreach (var car in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@car.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@car.Brand</h5>
                <p class="mb-0">Power: @car.Power</p>
                <p class="mb-0">Price/H: @car.PricePerHour</p>
                <p>Type: @car.CarType</p>
            </div>

            <form class="input-group-sm" asp-route-movieId="@car.Id" asp-controller="Car" asp-action="RemoveFromCollection" method="post">
                <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Leave the car" />
            </form>
        </div>
    }
</div>