@using VehicleRentingSystem.Models.Bus
@model IEnumerable<BusViewModel>

@{
    ViewBag.Title = "Vehicles for Renting";
}
@if (Model.Count() == 0)
{
    <h3 class="text-center">There are no buses!</h3>
}
else
{
<div class="text-center row">
    @foreach (var bus in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@bus.ImageUrl" alt="Book Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@bus.Brand</h5>
                <p class="mb-0">Power: @bus.Power</p>
                <p class="mb-0">Seats: @bus.Seats</p>
                <p class="mb-0">Price/H: @bus.PricePerHour$</p>
            </div>

            <form class="input-group-sm" asp-route-busId="@bus.Id" asp-controller="Bus" asp-action="AddBusToCollection" method="post">
                <input type="submit" value="Rent the Bus" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
                <form class="input-group-sm" asp-route-busId="@bus.Id" asp-controller="Bus" asp-action="Detail" method="post">
                    <input type="submit" value="Details" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
                @if (User.IsInRole("Admin"))
                {
                    <form class="input-group-sm" asp-area="Admin" asp-route-busId="@bus.Id" asp-controller="Bus" asp-action="Delete" method="post">
                        <input type="submit" value="Delete" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>
                }
        </div>
    }
</div>
}