@using VehicleRentingSystem.Models.Bus
@model BusViewModel

@{
    ViewBag.Title = "Vehicles for Renting";
}

<div class="text-center row">
    <div>
        <img src="@Model.ImageUrl" alt="Book Image">
        <div>

            <h5>Model:@Model.Brand</h5>
            <p>Price/H: @String.Format("{0:0.00}", @Model.PricePerHour)$</p>
            <p>Power: @Model.Power HP</p>
            <p>Seats: @Model.Seats </p>
        </div>
    </div>
</div>
